html {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

body {
    background-color: indigo;
}

section {
    background-color: rgba(37, 37, 37, 1);
    width: 1000px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #000000;
}

ul {
    list-style: none;
}

code {
    padding: 3px;
    color: #ff00d4;
    background-color: #3a3a3a;
    border: 1px solid #f9f3ff;
    border-radius: 5px;
}

h1    {
    color: #FFFFFF;
    font-size: 170%;
}

h2, h3 {
    color: white;
}

p {
    color: white;
}

a {
    color: #31ff00;
}

a:visited {
    color: #31ff00;;
}

a:hover {
    color:  red;
}

.swimmingIcon {
    max-width: 30px;
}

.formulier {
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 193, 243, 0.52);
    padding:10px;
}

.afspraken {
    background-color: #a49ea4;
    color: black;
    font-weight: 600;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tdinput {
    width: 50px;
}
